@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --black: #130f0d;
  --primary: hsl(32, 98%, 56%);
  --white: #f0f0f9;
  --secondary: hsl(32, 98%, 12%);
  --tertiary: hsl(32, 98%, 5%);
  --gray: rgba(255, 255, 255, 0.04);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: borber-box;
}

*, button, input {
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;

  background-color: var(--black);
  color: var(--white);
}

header {
  display: flex;
  justify-content: center;

  background-color: var(--tertiary);

  padding: 16px;
}

#paginate {
  width: 100%;

  margin: 32px auto;
}

#paginate .list .item {
  border-bottom: 1px solid var(--secondary);
  padding: 16px 32px;
}

#paginate .list .item:hover {
  background-color: var(--gray);
}

#paginate .pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 8px;
}

#paginate .pagination div {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
}

#paginate .pagination div:not(.numbers),
#paginate .pagination div.numbers div{
  width: 40px;
  height: 40px;
}

#paginate .pagination div.numbers div:hover,
#paginate .pagination div.numbers div.active {
  color: var(--primary);
}